.venv/
.conda/
build/
src/ai_model_learning.egg-info/
src/**/__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo
data/
archives/
outputs/
logs/
mlruns/
mlruns.db
.git/
.github/
.gitignore
.vscode/
.mypy_cache/
.ruff_cache/
.env
.env.*
