.vscode/
.venv/
scripts/__pycache__/

# データ
/data/

# 学習出力
/outputs/
/logs/

# MLflow
/mlruns/
/mlruns.db

# Python
__pycache__/
*.pyc
*.pyo
.Python

# 環境
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

/archives/checkpoints/

/build/lib/